$primaryBackground = rgb(13, 115, 179)
$accentLightBlue = rgb(72, 198, 242)
$secondaryBackground = rgb(248, 248, 248)
$softBlack = rgb(69, 69, 69)
$primaryHeadingFont = 'Dosis', sans-serif

h1, .h1
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif

body,h2,h3,h4,h5,h6,.h2,.h3,.h4,.h5,.h6
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif

a
  cursor: pointer
  color: inherit
a:hover
  color: inherit

a[target]
  color: #4183c4
  text-decoration: none

a[target]:hover
  color: #4183c4
  text-decoration: underline

strong
  font-weight: 500

h1, h2, h3, h4, h5, h6
  font-weight: 400
  margin-top: 10px

.h1, .h2, .h3, .h4, .h5, .h6
  font-weight: 400

h3, .h3
  font-size: 22px

.help-block:not(:first-child)
  margin-top: 15px

.help-block, .help-inline
  font-size: 15px
  color: #333
  a
    text-decoration: underline
    color: #4183c4

// Navbar
.navbar
  background-color: $primaryBackground
  height: 50px

  .navbar-brand
    img
      height: 40px

    padding: 5px

  .navbar-nav
    margin-top: 8px

  .navbar-nav li
    margin-left: 10px

  .navbar-nav > li > a
    color: $accentLightBlue
    border: solid 1px transparent
    border-radius: 4px
    font-family: $primaryHeadingFont
    padding: 5px
    font-size: 14px

  .navbar-nav > li > a:hover
    background-color: transparent
    border-color: $accentLightBlue

  .navbar-nav > li > a:active
    background-color: transparent
    border-color: $accentLightBlue

  img.avatar
    margin-right: 10px

// Code tweaks to match GitHub markdown content styling
code
  font: 12px Consolas, "Liberation Mono", Menlo, Courier, monospace;
  padding: 0;
  padding-top: 0.2em;
  padding-bottom: 0.2em;
  margin: 0;
  font-size: 85%;
  background-color: rgba(0,0,0,0.04);
  border-radius: 3px;
  color: #333

code:before, code:after
  letter-spacing: -0.2em
  content: "\00a0"

// Button tweaks
a.btn.btn-primary
  color: #FFF
  text-decoration: none

a.btn.btn-primary:hover
  text-decoration:none

.btn.btn-primary
  background-color: $primaryBackground
  border-color: $primaryBackground
  color: #fff

.btn.btn-primary:hover, .btn.btn-primary:focus
  opacity: .8

.btn.push-right
  margin-right:0

// Don't allow button links to look like text links
a.btn[target]
  color: #333 !important

a.btn[target]:hover
  text-decoration:none !important

// End button tweaks
.container.main
  padding-top: 15px
  padding-bottom: 70px

img.avatar
  width: 23px
  height: 23px
  border-radius: 3px

td img.avatar, ul.dropdown-menu img.avatar
  margin-right: 8px

[ng-cloak], .ng-cloak
  display: none

button.btn.dropdown-toggle > span.caret
  margin-left: 8px !important

// Utility classes
.btn-icon-rt i
  margin-left: 8px

.btn-icon-left i
  margin-right: 8px

.align-left
  text-align: left

label
  font-weight: 500

// Alert tweaks
.alert
  font-size: 15px
  padding: 12px

  a[href]
    text-decoration: underline

// Table tweaks
table.table-bordered
  thead
    background-color: #f8f8f8

th
  font-weight: 500
  font-size: 15px

th.buttons
  width: 200px
th.version
  width: 250px

.load-spinner
  padding: 20px 0
  color: #777
  i.fa-spin
    margin-right: 12px

.modal-header
  i.fa.fa-lg
    vertical-align: text-top
    margin-right: 10px

.modal-footer
  button.btn
    min-width: 85px

.dev-credentials-modal
  .modal-body
    .alert
      margin-bottom: 0

a.btn.btn-left
  margin-right: 10px

// Nav styles
.subnav
  hr
    margin: 0

// App setup/details view
ol.steps li pre
  margin-top: 10px

.starter-templates
  margin: 15px 0

  button
    width: 200px
    display: inline-block
    padding-left: 70px
    text-align: left
    background-position: 10px center
    background-size: 50px 50px
    background-repeat: no-repeat

td.traffic input[type=range]
  width: 200px
  display: inline-block
  margin-right: 10px

td .btn-group
  width: 100%

  .btn.dropdown-toggle
    text-align: left
    width: 100%
    margin-right: 0

    .caret
      line-height: 0


// Tab tweaks
.tabset
  margin-bottom: 25px

.nav-tabs
  border-bottom: 1px solid #ccc;

.tab-content .tab-pane
  border: 1px solid #ccc
  border-radius: 5px
  border-top: none
  border-top-left-radius: 0
  border-top-right-radius: 0
  padding: 20px

.nav-tabs li a
  font-weight: 500

.nav-tabs>li.active>a, .nav-tabs>li.active>a:hover, .nav-tabs>li.active>a:focus
  border: 1px solid #ccc
  border-bottom-color: transparent;

// CLI display
textarea.cli
  display: block
  width: 100%
  padding: 12px
  background-color: #434e56
  font-family: Monaco, monospace
  word-spacing: normal
  cursor: text
  color: #f8f8f8
  margin-bottom: 10px
  border-radius: 5px
  resize: none
  min-height: 100px

  .prompt
    color: #aeaeae
    margin-right: 6px

.input-group.cli
  input.form-control[type='text']
    background-color: #434e56
    font-family: Monaco, monospace
    word-spacing: normal
    color: #f8f8f8
    cursor: text
    height: 41px
  button.btn
    height: 41px

.list-group
  .list-group-item.heading
    background-color: #e7e7e7

  .list-group-item.active, .list-group-item.active:hover, .list-group-item.active:focus
    background-color: $primaryBackground
    border-color: $primaryBackground

body.login
  padding-top: 80px;
  padding-bottom: 40px;

  .container
    width: 500px
    padding: 15px
    margin: 0 auto

    img.logo
      height: 50px
      margin-bottom: 20px

  a.btn
    font-family: $primaryHeadingFont
    border-color: $accentLightBlue
    color: #FFF
    border-width: 2px
    border-radius: 10px
    display: block
    text-transform: uppercase
    letter-spacing: 1.4px
    margin: 30px 0 0 0

  a.btn:hover
    opacity: .8

.top-banner
  height: 0px
  margin-top: 50px

.top-banner.trial
  height: 30px
  background-color: $softBlack
  color: #FFF

  span
    line-height: 30px
