

div(ng-show="versionsByDate.length==0")
  h3 No versions have been deployed

  p.help-block 
    a(href="http://4front.io/docs/cli#deploy", target="blank") Learn how to deploy your app using the yoke command line tool

div.app-versions(ng-repeat="group in versionsByDate")
  .row
    .col-md-8
      div.version-date {{ group.date }}
    .col-md-4
      .pull-right
        button.btn.btn-default.btn-icon-left(style="margin-top:-10px", ng-show="$index==0 && application.trafficControlEnabled", ng-click="openTrafficRules()")
          i.fa.fa-code-fork
          span Traffic Rules

  div.date-group
    .list-group
      div.list-group-item.version(ng-repeat="version in group.versions", ng-class="{'list-group-item-info':version.active}")
        .row
          .col-md-1
            img.avatar(ng-src="{{version.avatar}}")

          .col-md-4
            div
              span.version-name {{version.displayName}}
              span.traffic.badge(ng-show="application.trafficControlEnabled && version.traffic") {{version.traffic * 100}}%

            div deployed by {{version.username}} at {{version.created | date : 'HH:mm'}}

          .col-md-4
            div.message {{version.message}}

          .col-md-3
            .pull-right
              .btn-group.pull-right
                a.btn.btn-default.launch(ng-href="{{previewUrl(version.versionId)}}", target="_blank", tooltip="Launch Version", tooltip-placement="bottom", tooltip-append-to-body="1") 
                  span {{version.versionId.slice(0, 8)}}
                  i.fa.fa-external-link
                button.btn.btn-default(type="button", ng-click="confirmDeleteVersion(version)", ng-disabled="version.active", tooltip="Delete Version", tooltip-placement="bottom", tooltip-append-to-body="1")
                  i.fa.fa-remove

script#deleteVersionModal(type="text/ng-template")
  .modal-body
    .alert.alert-danger
      h4 Delete version {{$parent.versionToDelete.versionNum}}?

  .modal-footer
    button.btn.btn-default(ng-click="$close()") Cancel
    button.btn.btn-danger.delete-btn.btn-icon-left(type="button", ng-click="deleteVersion()") Delete


script#trafficRulesModal(type="text/ng-template")
  .modal-header 
    h3 Traffic Control Rules
  .modal-body
    p.help-block Traffic control rules allow you to adjust the proportion of app users are given a particular version. You can split traffic as many ways as you like as long as the total adds up to 100.
    .alert.alert-warning(ng-hide="versions.length") <strong>No deployed versions</strong>. Before you can direct any traffic, at least one version of the app needs to be deployed.
    .alert.alert-warning(ng-show="versions.length && application.trafficControlRules.length == 0") <strong>No traffic control rules defined</strong>. Before live users can hit your site, you need to setup one or more versions to direct traffic to.

    .alert.alert-danger(ng-show="saveRulesError", ng-switch="saveRulesError")
      span(ng-switch-when="trafficTotal") The traffic percentages must add up to 100%.
      span(ng-switch-when="noRulesDefined") At least one traffic rule must be defined.
      span(ng-switch-when="ruleWithNoTraffic") Rules cannot have 0 traffic.
      span(ng-switch-when="saveError") Unexpected error updating traffic rules.

    .alert.alert-success(ng-show="showTrafficUpdateSuccess")
      button.close(type="button", aria-hidden="true", ng-click="showTrafficUpdateSuccess=false") &times;
      span Traffic control rules successfully updated

    div.list-group
      div.list-group-item(ng-repeat="rule in trafficControlRules")
        .row 
          .col-md-4 
            span.version-name(ng-hide="editTrafficMode") {{rule.version.displayName}}
            select.form-control(ng-options="version.displayName for version in versions", ng-model="rule.version", ng-show="editTrafficMode")
              option(value="") -- Select Version --

          .col-md-5
            input(type="range", ng-model="rule.traffic", min="0", max="1", step=".1", ng-disabled="!editTrafficMode")
            span.value {{rule.traffic * 100}}%

          .col-md-3
            .pull-right
              .btn-group.pull-right
                a.btn.btn-default.launch(ng-href="{{previewUrl(rule.version.versionId)}}", target="_blank", tooltip="Launch Version", tooltip-placement="bottom", tooltip-append-to-body="1") 
                  span {{version.versionId}}
                  i.fa.fa-external-link
                button.btn.btn-default(type="button", ng-click="deleteRule(rule)", ng-disabled="!editTrafficMode || trafficControlRules.length == 1", tooltip="Delete rule", tooltip-placement="bottom", tooltip-append-to-body="1")
                  i.fa.fa-remove

    button.btn.btn-default.btn-icon-left(ng-click="appendRule()") 
      i.fa.fa-plus
      span New rule

  .modal-footer
    div(ng-show="versions.length")
      button.btn.btn-primary(ng-hide='editTrafficMode', ng-click='showRuleEditMode()') Edit Rules
      button.btn.btn-default(ng-show='editTrafficMode', ng-click='resetRuleForm()') Cancel
      button.btn.btn-default(ng-hide='editTrafficMode', ng-click='$dismiss()') Close
      button.btn.btn-primary(ng-show='editTrafficMode', ng-click='saveTrafficRules()') Save Changes
