.alert.alert-danger(ng-show="error", ng-switch="error")
  span(ng-switch-when="cannotDeleteOrgWithApplications") Cannot terminate organizations with applications.

.well(ng-show="allowedToDelete", style="margin-top:20px")
  .row
    .col-md-8
      label Terminate Organization
    .col-md-4.pull-right
      button.btn.btn-danger(ng-click="confirmTerminate()") Terminate Organization

script#terminateOrgModal(type="text/ng-template")
  .modal-body
    .alert.alert-danger
      h4 Are You Sure?

    p.help-block If you're sure you wish to proceed, type <b>{{organization.name}}</b> in the box below.
    input.form-control(type="text", ng-model="confirmTerminateName")

  .modal-footer
    button.btn.btn-default(ng-click="$close('dismiss')") Cancel
    button.btn.btn-danger.delete-btn.btn-icon-left(type="button", ng-click="terminateOrganization()", ng-disabled="confirmTerminateName != organization.name || terminating")
      span(ng-show="deleting")
        i.fa.fa-cog.fa-spin.fa-lg
        span Terminating
      span(ng-hide="deleting") I understand, terminate organization

