.alert.alert-danger(ng-show="error") {{error}}

p.load-spinner(ng-show="orgLoading")
  i.fa.fa-spinner.fa-spin.fa-3x
  span.h3 Loading

.row
  .col-sm-4
    h3 Apps
  .col-sm-8
    .pull-right
      form.form-inline(style="display:inline; margin-right:20px;")
        input.form-control(type="text", placeholder="Search Apps", ng-show="showAppSearch()", ng-model="appFilterText")
      button.btn.btn-default.btn-icon-left(ng-click="createAppModal()")
        i.fa.fa-plus
        span New Application
      button.btn.btn-default.push-right(ng-click="refreshApps()")
        i.fa.fa-refresh

table.table.table-bordered
  thead
    th Name
    th URL
    th Created
  tbody
    tr(ng-repeat="app in applications | filter:{name: appFilterText}")
      td
        a(ng-href="/apps/{{app.appId}}") {{app.name}}
        span.pull-right
          a.btn.btn-default.push-right(ng-href="apps/{{app.appId}}", tooltip="Manage App", tooltip-placement="bottom")
            i.fa.fa-gear
      td
        span {{app.url}}
        span.pull-right
          a.btn.btn-default.push-right(target="_blank", ng-href="{{app.url}}", tooltip="Launch App", tooltip-placement="bottom")
            i.fa.fa-external-link

      td {{app.created | date:'MMM dd, yyyy'}}

    tr(ng-hide="applications.length")
      td(colspan="3")
        h4 No Applications

script#createAppModal(type="text/ng-template")
  .modal-header
    h4 Create New Application
  .modal-body
    p.help-block Creating a new application is done with the yoke command line tool which you can install via npm:
    cli-instruction(value="'npm install -g 4front/cli'")

    p.help-block You can create a new app from an existing single page codebase, or you can create one from scratch. If from scratch, run from the directory where your new app should get created. If existing, run at the root of the existing app code.
    cli-instruction(value="'4front create-app'")

  .modal-footer
    button.btn.btn-default(ng-click="$close('close')") Close
