.alert.alert-danger(ng-show="error") {{error}}

p.load-spinner(ng-show="orgLoading")
  i.fa.fa-spinner.fa-spin.fa-3x
  span.h3 Loading

.row
  .col-sm-6
    h3 Members
  .col-sm-6
    .pull-right
      button.btn.btn-default.btn-icon-left(ng-click="openMemberModal()", ng-show="organization.role=='admin'")
        i.fa.fa-plus
        span New Member
      button.btn.btn-default.push-right(ng-click="refreshEvents()")
        i.fa.fa-refresh

table.table.table-bordered
  thead
    th Username
    th Role
    th Joined
  tbody
    tr(ng-repeat="member in members")
      td
        img.avatar(ng-show="member.avatar", ng-src="{{member.avatar}}")
        span {{member.username}}
        span.pull-right(ng-show="organization.role=='admin'")
          button.btn.btn-default(title="Edit", ng-click="openMemberModal(member)")
            i.fa.fa-gear

      td {{member.role | capitalize}}
      td {{member.created | date:'MMM dd, yyyy'}}

script(type="text/ng-template", id="orgMemberModal")
  .modal-header
    h3.modal-title(ng-hide="orgMember") New Organization Member
    h3.modal-title(ng-show="orgMember") Manage Organization Member
  .modal-body
    .alert.alert-danger(ng-show="modalError") {{modalError}}
    form
      .form-group 
        label(for="username") Username
        input.form-control(for="username", placeholder="Username", ng-model="$parent.orgMember.username", ng-disabled="!$parent.orgMember.new")
        
      .form-group
        label.control-label(for="memberRole") Role
        div
          label.radio-inline(ng-repeat="role in $parent.roles")
            input(type="radio", name="memberRole", value="{{role}}", ng-model="$parent.orgMember.role", ng-disabled="$parent.orgMember.self")
            span {{role | capitalize}}
            
  .modal-footer
    div(ng-show="showRemoveConfirm")
      strong(style="margin-right:25px") Remove this member from the org?
      button.btn.btn-danger(ng-click="removeMember()") Yes
      button.btn.btn-default(ng-click="showRemoveConfirm=false") Cancel
    .row(ng-hide="showRemoveConfirm")
      .col-md-6.align-left
        button.btn.btn-default.btn-icon-left(ng-hide="$parent.orgMember.new || $parent.orgMember.self", ng-click="showRemoveConfirm=true")
          i.fa.fa-remove
          span Remove
      .col-md-6
        button.btn.btn-primary(type="button", ng-click="saveMember()", ng-disabled="$parent.orgMember.self || $parent.memberSaving")
          span Save

        button.btn.btn-default(type="button", ng-click="$close()") Cancel
