
h2 Profile
.alert.alert-info(ng-show="showWelcome")
  span <strong>Welcome!</strong> Before getting started, please select an email address.

form.form-horizontal(role="form", ng-submit="submit()")
  .well
    .row
      .col-md-8
        .form-group
          label.col-sm-3.control-label UserID
          .col-sm-9
            input.form-control(type="text", readonly, ng-model="profile.userId", select-on-click)
          
        .form-group
          label.col-sm-3.control-label Secret Key   
          .col-sm-9
            .input-group
              input.form-control(type="text", readonly, ng-value="secretKey", select-on-click)
              span.input-group-btn
                button.btn.btn-default.push-right(type="button", tooltip="{{revealTooltip()}}", tooltip-placement="bottom", ng-click="toggleSecretKey()")
                  i.fa.fa-key

      .col-md-4
        p.help-block Use these values to login to the yoke-cli tool. Install the tool with <strong>npm install -g yoke-cli</strong> and run <strong>yoke login</strong>.
        
    .form-group
      label.col-sm-2.control-label(for="email") Email
      .col-sm-6
        div.radio(ng-repeat="email in emails")
          label
            input(type="radio", name="email", ng-model="editProfile.email", ng-value="email") 
            span {{email}}
      .col-sm-4
        .help-block <strong>Required</strong> - This is the address where Aerobatic will send notification about your apps as well as periodic updates on new platform features.

  button.btn.btn-primary(type="submit") Save
  a.btn.btn-default(href="/") Cancel
