
p.help-block Traffic control rules allow you to adjust the proportion of app users are given a particular version. You can split traffic as many ways as you like as long as the total adds up to 100.
.alert.alert-warning(ng-hide="versions.length") <strong>No deployed versions</strong>. Before you can direct any traffic, at least one version of the app needs to be deployed.
.alert.alert-warning(ng-show="versions.length && application.trafficControlRules.length == 0") <strong>No traffic control rules defined</strong>. Before live users can hit your site, you need to setup one or more versions to direct traffic to.

  .alert.alert-danger(ng-show="saveRulesError", ng-switch="saveRulesError")
    span(ng-switch-when="trafficTotal") The traffic percentages must add up to 100%.
    span(ng-switch-when="noRulesDefined") At least one traffic rule must be defined.
    span(ng-switch-when="saveError") Unexpected error updating traffic rules.

  .alert.alert-success(ng-show="showTrafficUpdateSuccess")
    button.close(type="button", aria-hidden="true", ng-click="showTrafficUpdateSuccess=false") &times;
    span Traffic control rules successfully updated

  table.table.table-bordered.traffic-rules(ng-show="versions.length")
    colgroup
      col.name(span="1")
      col(span="1")
      col.traffic(span='1')
      col(span='1')

    thead
      th.version Version
      th Traffic
      th.buttons
    tbody
      tr(ng-hide="trafficControlRules.length")
      tr(ng-repeat='rule in trafficControlRules')
        td
          div(ng-show="editTrafficMode")
            select.form-control(ng-options="version.name for version in versions", ng-model="rule.version")
              option(value="") -- Select Version --

          div(ng-hide="editTrafficMode")
            span {{rule.version.name}}

        td.traffic
          input(type="range", ng-model="rule.traffic", min="0", max="1", step=".1", ng-disabled="!editTrafficMode")
          span.value {{rule.traffic * 100}}%
        td
          a.btn.btn-default.btn-sm.btn-icon-rt(ng-href="{{previewUrl(version.versionId)}}", target="_blank", ng-disabled="!rule.versionId")
            span Preview
            i.fa.fa-arrow-circle-right.fa-lg
          button.btn.btn-danger.btn-sm.btn-icon-left(ng-click="deleteRule(rule)", ng-show="editTrafficMode")
            i.fa.fa-trash-o.fa-lg
            span Delete

    tr(ng-show='editTrafficMode')
      td
        select.form-control(ng-options="version.name for version in versions", ng-model="newRule.version")
          option(value="") -- Select Version --

      td.traffic
        input(type="range", ng-model="newRule.traffic", min="0", max="1", step=".1", ng-disabled="!editTrafficMode || !newRule.version")
        span.value {{newRule.traffic * 100}}%
      td
        a.btn.btn-default.btn-sm.preview.btn-icon-rt(ng-disabled="!(newRule.version)", ng-href="{{previewUrl(newRule.versionId)}}", target="_blank")
          span Preview
          i.fa.fa-arrow-circle-right.fa-lg

  div(ng-show="versions.length")
    button.btn.btn-primary(ng-hide='editTrafficMode', ng-click='showRuleEditMode()') Edit Rules
    button.btn.btn-default(ng-show='editTrafficMode', ng-click='resetRuleForm()') Cancel
    button.btn.btn-primary(ng-show='editTrafficMode', ng-click='saveTrafficRules()') Save Changes
