doctype html
html(lang='en')
  include partials/head
  body(ng-app='portal', ng-controller='LayoutCtrl')
    nav.navbar.navbar-inverse.navbar-fixed-top
      .container-fluid
        .navbar-header
          button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='#navbar', aria-expanded='false', aria-controls='navbar')
            span.sr-only Toggle navigation
            span.icon-bar
            span.icon-bar
            span.icon-bar
          a.navbar-brand(href='#{basePath}')
            img(src='//s3-us-west-2.amazonaws.com/4front-media/4front-logo.png', alt='4front')
        
        #navbar.navbar-collapse.collapse
          ul.nav.navbar-nav.navbar-right(style="margin-right:0px")
            li
              a(href='#') Dashboard
            li
              a(href='#') Settings
            li
              a(href='#') Profile
            li
              a(href='#') Help
            li
              a(href='#{basePath}/logout', target="_self") Logout
          
    .container-fluid
      .row
        .col-sm-3.col-md-2.sidebar
          //- Pinned apps
      
        .col-sm-3.col-md-2.sidebar
          h3 Organizations
          ul.nav.nav-sidebar
            li(ng-repeat="org in organizations", ng-class="{active: org.orgId == organization.orgId}") 
              a(nav-href="orgs/{{org.orgId}}")
                span {{org.name}}
                
          a(ng-href="orgs/create") 
            i.fa.fa-plus
            span New Organization
            
        .col-sm-9.col-sm-offset-3.col-md-10.col-md-offset-2.main
          //- top menu
          ul.nav.nav-pills(ng-show="navMode=='org' && organization", ng-cloak, style="margin-bottom: 25px;")
            li(ng-class="{active:subNav=='apps'}")
              a.btn-icon-left(nav-href="orgs/{{organization.orgId}}")
                i.fa.fa-home.fa-lg
                span Apps

            li(ng-class="{active:subNav=='members'}")
              a.btn-icon-left(nav-href="orgs/{{organization.orgId}}/members")
                i.fa.fa-home.fa-lg
                span Members
                
            li(ng-class="{active:subNav=='usage'}")
              a.btn-icon-left(nav-href="orgs/{{organization.orgId}}/usage")
                i.fa.fa-gear.fa-bar-chart
                span Usage
              
              //- a.list-group-item.btn-icon-left(nav-href="orgs/{{organization.orgId}}/usage")
              //-   i.fa.fa-gear.fa-bar-chart
              //-   span Activity

            li(ng-class="{active:subNav=='usage'}")
              a.btn-icon-left(nav-href="orgs/{{organization.orgId}}/settings")
                i.fa.fa-gear.fa-lg
                span Settings

        
          div.page-loading(ng-show="pageLoading")
            i.fa.fa-spinner.fa-spin 
            span Loading 
            
          div.alert.alert-danger.ng-cloak(ng-show="pageError") {{pageError}}
            
          .ng-view
            //- Main view 
                  
    //- // Individual scripts for debug build
    script(src="//cdnjs.cloudflare.com/ajax/libs/lodash.js/3.7.0/lodash.min.js")
    script(src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.0/angular.min.js")
    script(src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.0/angular-route.min.js")
    script(src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.0/angular-resource.min.js")
    script(src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.0/angular-cookies.min.js")

    div(data-build="debug")
      script(src='node_modules/angular-scroll/angular-scroll.js')
      script(src='node_modules/angular-bootstrap/dist/ui-bootstrap-tpls.js')
      script(data-src-expand='js/**/*.js')
      
    div(data-build='release')
      script(src='dist/vendor.min.js')
      script(src='dist/app.min.js')
