doctype html
html
  head
    title 4front Portal
    base(href='/portal')
    link(rel='apple-touch-icon-precomposed', sizes='114x114', href='/favicons/apple-touch-icon-114x114-precomposed.png')
    link(rel='apple-touch-icon-precomposed', sizes='120x120', href='/favicons/apple-touch-icon-120x120-precomposed.png')
    link(rel='apple-touch-icon-precomposed', sizes='144x144', href='/favicons/apple-touch-icon-144x144-precomposed.png')
    link(rel='apple-touch-icon-precomposed', sizes='152x152', href='/favicons/apple-touch-icon-152x152-precomposed.png')
    link(rel='apple-touch-icon-precomposed', sizes='60x60', href='/favicons/apple-touch-icon-60x60-precomposed.png')
    link(rel='apple-touch-icon-precomposed', sizes='72x72', href='/favicons/apple-touch-icon-72x72-precomposed.png')
    link(rel='apple-touch-icon-precomposed', sizes='76x76', href='/favicons/apple-touch-icon-76x76-precomposed.png')
    link(rel='icon', type='image/png', sizes='64x64', href='/favicons/favicon.png')
    
    //- // Consolidated stylesheet for release and individual files in debug
    link(data-aero-build='release', rel='stylesheet', href='css/components.min.css')
    link(data-aero-build='release', rel='stylesheet', href='css/app.min.css')
    link(data-aero-build='debug', rel='stylesheet', href='bower_components/bootstrap-css/css/bootstrap.css')
    link(data-aero-build='debug', rel='stylesheet', href='bower_components/font-awesome/css/font-awesome.css')
    link(data-aero-build='debug', rel='stylesheet', href='/css/styles.styl.css')
    link(data-aero-build='debug', rel='stylesheet', href='/css/versions.styl.css')

    link(rel="stylesheet", href="//fonts.googleapis.com/css?family=Dosis:100,200,300,400,500")

    style.
      [ng-cloak] {
        display: none
      }
  body
    div(ng-app='aerobaticPortal', ng-controller='LayoutCtrl')
      .navbar.navbar-fixed-top(role='navigation')
        .container
          .navbar-header(ng-cloak)
            a.navbar-brand(href='/')
              img(asset-src='images/aerobatic-logo.png', alt='Aerobatic - wings for nimble web apps')
          .collapse.navbar-collapse
            ul.nav.navbar-nav.navbar-right
              li
                a(href='http://4front.io/docs', target='_blank') Docs
              li.dropdown
                a.dropdown-toggle
                  img.avatar(ng-src='{{aerobatic.user.avatar}}')
                  strong {{aerobatic.user.username}}
                  span.caret
                ul.dropdown-menu
                  li
                    a(href='/profile') Profile
                  li
                    a(href='/_logout', target='_self') Logout

      .top-banner(ng-class="{'trial':organization&&organization.plan=='trial'}", ng-cloak)
        .container
          span(ng-show="organization && organization.plan=='trial'") Trial plan ends {{organization.trialEnd | date : "MMM d"}} - <a href="orgs/{{organization.orgId}}/upgrade">upgrade now</a>

      .container.main
        .subnav(ng-cloak)
          .row(ng-show="navMode=='org' && organizations.length && organization")
            .col-md-10
              h1 {{organization.name}}
              hr

            .col-md-2(ng-cloak)
              .btn-group.org-dropdown(dropdown)
                button.btn.btn-default.btn-block.dropdown-toggle.push-right(type="button")
                  span(ng-show="organization") {{organization.name}}
                  span(ng-hide="organization") {{profile.username}}
                  span.caret
                ul.dropdown-menu.dropdown-menu-right
                  li(ng-show="personalApps.length")
                    a(nav-href="/myapps") {{profile.username}}
                  li.divider(ng-show="personalApps.length && organizations.length")
                  li(ng-repeat="org in organizations")
                    a(nav-href="/orgs/{{org.orgId}}")
                      span {{org.name}}
                  li.divider
                  li
                    a.btn-icon-left(href="/orgs/create")
                      i.fa.fa-plus
                      span New Organization

          .row(ng-show="navMode=='app' && application", ng-cloak)
            .col-md-10
              span.h1 {{application.name}}
              a.btn.btn-default(ng-href="{{appUrl(application)}}", target="_blank", style="vertical-align:text-bottom; margin-left: 10px;", tooltip="Launch App", tooltip-placement="bottom")
                i.fa.fa-external-link
              hr(style="margin-top:8px")
            .col-md-2
              a.btn.btn-default.btn-icon-left.btn-block(ng-href="/orgs/{{organization.orgId}}")
                i.fa.fa-chevron-left
                span Back to Org


        .row
          div(ng-class="fullScreen ? 'col-md-12' : 'col-md-10'")
            .ng-view

          .col-md-2(,='', ng-hide='fullScreen')
            div(ng-show="navMode=='org' && organization", ng-cloak)
              .list-group.right-menu
                a.list-group-item.btn-icon-left(nav-href="/orgs/{{organization.orgId}}")
                  i.fa.fa-home.fa-lg
                  span Home

                a.list-group-item.btn-icon-left(nav-href="/orgs/{{organization.orgId}}/usage")
                  i.fa.fa-gear.fa-bar-chart
                  span Usage

                a.list-group-item.btn-icon-left(nav-href="/orgs/{{organization.orgId}}/settings")
                  i.fa.fa-gear.fa-lg
                  span Settings

            div(ng-show="navMode=='app' && application", ng-cloak)
              .list-group.right-menu
                a.list-group-item.btn-icon-left(nav-href="/apps/{{application.appId}}")
                  i.fa.fa-dashboard.fa-lg
                  span Dashboard

                a.list-group-item.btn-icon-left(nav-href="/apps/{{application.appId}}/settings")
                  i.fa.fa-gears.fa-lg
                  span Settings

                //- a.list-group-item.btn-icon-left(nav-href="/apps/{{application.appId}}/versions")
                //-   i.fa.fa-gears.fa-lg
                //-   span Versions



    div(data-aero-build='release')
      script(src='//ajax.googleapis.com/ajax/libs/angularjs/1.2.24/angular.min.js')
      script(src='//ajax.googleapis.com/ajax/libs/angularjs/1.2.24/angular-route.min.js')
      script(src='//ajax.googleapis.com/ajax/libs/angularjs/1.2.24/angular-resource.min.js')
      script(src='//ajax.googleapis.com/ajax/libs/angularjs/1.2.26/angular-cookies.min.js')
      script(src='//cdn.jsdelivr.net/lodash/2.4.1/lodash.min.js')
      script(src='components.min.js')
      script(src='app.min.js')
    //- // Individual scripts for debug build
    div(data-aero-build='debug')
      script(src='bower_components/lodash/dist/lodash.js')
      script(src='bower_components/angular/angular.js')
      script(src='bower_components/angular-resource/angular-resource.js')
      script(src='bower_components/angular-route/angular-route.js')
      script(src='bower_components/angular-cookies/angular-cookies.js')
      script(src='bower_components/angular-ui-bootstrap-bower/ui-bootstrap-tpls.js')
      script(src='bower_components/angular-aerobatic/angular-aerobatic.js')
      script(src='bower_components/zeroclipboard/dist/ZeroClipboard.js')
      script(src='bower_components/ng-clip/src/ngClip.js')
      script(src='bower_components/angular-scroll/angular-scroll.js')
      script(src='node_modules/angular-aerobatic/angular-aerobatic.js')
      script(src='node_modules/angular-google-chart/ng-google-chart.js')
      script(data-aero-src='js/**/*.js')
