doctype html
html
  include partials/head
  
  body
    div(ng-app='portal', ng-controller='LayoutCtrl')
      .navbar.navbar-fixed-top(role='navigation')
        .container
          .navbar-header(ng-cloak)
            a.navbar-brand(href='/')
              img(src='https://s3-us-west-2.amazonaws.com/4front-media/4front-logo.png', alt='4front')
          
          .collapse.navbar-collapse
            ul.nav.navbar-nav.navbar-right
              li
                a(href='http://4front.io/docs', target='_blank') Docs
              li.dropdown
                a.dropdown-toggle
                  //- img.avatar(ng-src='{{aerobatic.user.avatar}}')
                  strong #{user.username}
                  span.caret
                ul.dropdown-menu
                  li
                    a(href='/profile') Profile
                  li
                    a(href='/logout', target='_self') Logout

      .top-banner(ng-class="{'trial':organization&&organization.plan=='trial'}", ng-cloak)
        .container
          span(ng-show="organization && organization.plan=='trial'") Trial plan ends {{organization.trialEnd | date : "MMM d"}} - <a href="orgs/{{organization.orgId}}/upgrade">upgrade now</a>

      .container.main
        .subnav(ng-cloak)
          .row(ng-show="navMode=='org' && organizations.length && organization")
            .col-md-10
              h1 {{organization.name}}
              hr

            .col-md-2(ng-cloak)
              .btn-group.org-dropdown(dropdown)
                button.btn.btn-default.btn-block.dropdown-toggle.push-right(type="button")
                  span(ng-show="organization") {{organization.name}}
                  span(ng-hide="organization") {{profile.username}}
                  span.caret
                ul.dropdown-menu.dropdown-menu-right
                  li(ng-show="personalApps.length")
                    a(nav-href="/myapps") {{profile.username}}
                  li.divider(ng-show="personalApps.length && organizations.length")
                  li(ng-repeat="org in organizations")
                    a(nav-href="/orgs/{{org.orgId}}")
                      span {{org.name}}
                  li.divider
                  li
                    a.btn-icon-left(href="/orgs/create")
                      i.fa.fa-plus
                      span New Organization

          .row(ng-show="navMode=='app' && application", ng-cloak)
            .col-md-10
              span.h1 {{application.name}}
              a.btn.btn-default(ng-href="{{appUrl(application)}}", target="_blank", style="vertical-align:text-bottom; margin-left: 10px;", tooltip="Launch App", tooltip-placement="bottom")
                i.fa.fa-external-link
              hr(style="margin-top:8px")
            .col-md-2
              a.btn.btn-default.btn-icon-left.btn-block(ng-href="orgs/{{organization.orgId}}")
                i.fa.fa-chevron-left
                span Back to Org


        .row
          div(ng-class="fullScreen ? 'col-md-12' : 'col-md-10'")
            .ng-view

          .col-md-2(,='', ng-hide='fullScreen')
            div(ng-show="navMode=='org' && organization", ng-cloak)
              .list-group.right-menu
                a.list-group-item.btn-icon-left(nav-href="orgs/{{organization.orgId}}")
                  i.fa.fa-home.fa-lg
                  span Home

                a.list-group-item.btn-icon-left(nav-href="orgs/{{organization.orgId}}/usage")
                  i.fa.fa-gear.fa-bar-chart
                  span Usage

                a.list-group-item.btn-icon-left(nav-href="orgs/{{organization.orgId}}/settings")
                  i.fa.fa-gear.fa-lg
                  span Settings

            div(ng-show="navMode=='app' && application", ng-cloak)
              .list-group.right-menu
                a.list-group-item.btn-icon-left(nav-href="/apps/{{application.appId}}")
                  i.fa.fa-dashboard.fa-lg
                  span Dashboard

                a.list-group-item.btn-icon-left(nav-href="/apps/{{application.appId}}/settings")
                  i.fa.fa-gears.fa-lg
                  span Settings

                //- a.list-group-item.btn-icon-left(nav-href="/apps/{{application.appId}}/versions")
                //-   i.fa.fa-gears.fa-lg
                //-   span Versions



    //- div(data-aero-build='release')
    //-   script(src='//ajax.googleapis.com/ajax/libs/angularjs/1.2.24/angular.min.js')
    //-   script(src='//ajax.googleapis.com/ajax/libs/angularjs/1.2.24/angular-route.min.js')
    //-   script(src='//ajax.googleapis.com/ajax/libs/angularjs/1.2.24/angular-resource.min.js')
    //-   script(src='//ajax.googleapis.com/ajax/libs/angularjs/1.2.26/angular-cookies.min.js')
    //-   script(src='//cdn.jsdelivr.net/lodash/2.4.1/lodash.min.js')
    //-   script(src='components.min.js')
    //-   script(src='app.min.js')
    //- // Individual scripts for debug build
    script(src="//cdnjs.cloudflare.com/ajax/libs/lodash.js/3.7.0/lodash.min.js")
    
    div(data-build-type="debug")
      script(src='node_modules/angular/angular.js')
      script(src='node_modules/angular-route/angular-route.js')
      script(src='node_modules/angular-resource/angular-resource.js')
      script(src='node_modules/angular-cookies/angular-cookies.js')
      script(src='node_modules/angular-scroll/angular-scroll.js')
      script(data-src-expand='js/**/*.js')
